{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} art.me {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>
</head>

<body style="background-color: whitesmoke" id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div style="background-color: whitesmoke" class="navbar-static-top" role="navigation">
            <div class="container" style="margin-bottom:100px">
                <div class="navbar-header">

                    <a href="{{ path('blog_index') }}" class="navbar-brand"  >
                        <img src="{{ asset('artmenew.png') }}" height="90px" width="200px">
                    </a>

                    <button type="button" style="height: 40px; margin-top:70px" class="navbar-toggle btn-block navbar-inverse" data-toggle="collapse" data-target=".navbar-collapse">
                            <p style="color: white"><strong>MENU</strong></p>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 10px">

                        {% if app.user %}
                            <li class="dropdown">
                                <a class=" dropdown-toggle"  data-toggle="dropdown">
                                    <img src="{{ asset('addicon.png') }}"  style="width:18px">
                                    <strong>Add</strong>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu nav ">
                                    <li>
                                        <a href="{{ path('article_create') }}" style="color: #18bc9c"><strong>Poem</strong></a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: #18bc9c"><strong>Song</strong></a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: #18bc9c"><strong>Picture</strong></a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="{{ path('user_profile') }}">
                                    <img src="{{ asset('user.svg') }}"  style="width:18px">
                                    <strong>My Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('security_logout') }}">
                                    <img src="{{ asset('logouticon.png') }}"  style="width:18px">
                                    <strong>Logout</strong>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('user_register') }}">
                                    <img src="{{ asset('createicon.png') }}"  style="width:18px">
                                    <strong> REGISTER </strong>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('security_login') }}">
                                    <img src="{{ asset('loginicon.png') }}"  style="width:18px">
                                    <strong>LOGIN</strong>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
        <div style="background-color: whitesmoke" class="navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('user_profile') }}">
                                <img src="{{ asset('poemicon.png') }}"  style="width:18px">
                                <strong>Show all poems</strong>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_profile') }}">
                                <img src="{{ asset('songicon.png') }}"  style="width:18px">
                                <strong>Show all songs</strong>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_profile') }}">
                                <img src="{{ asset('pictureicon.png') }}"  style="width:18px">
                                <strong>Show all pictures</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}

        <div class="row">
            <div id="main" class="col-sm-9">
                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
</body>

<footer class="container  modal-footer">
    {% block footer %}
        <footer class="nav navbar-nav navbar-right" >
            <div>
                <p>&copy; 2016 - All rights reserved </p>
            </div>
        </footer>
    {% endblock %}
</footer>

{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}
</html>
