{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well" style="background-color: #80efd2">

            <form method="post" action="{{ path('image_delete', {id: image.id}) }}" class="form-horizontal">
                <div class="form-group">
                    <label class="hidden" for="image_description">description: </label>
                    <input class="hidden" type="text" id="image_description" name="image[description]" value="{{ image.description }}" readonly>
                    <h3 class="col-sm-6 col-sm-offset-4" style="word-wrap: break-word"><strong>Description: </strong> {{ image.description }}</h3>
                </div>
                 {{ form_row(form._token) }}

                <img src="{{ asset("uploads/images/" ~ image.imageName) }}" class="img-responsive col-sm-3 col-sm-offset-5" style="margin-bottom: 20px">

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-5">
                        <a class="btn btn-default" style="border-color: #128f76" href="{{ path('pictures_show_all') }}">Cancel</a>
                        <button type="submit" style="border-color: #128f76" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}